//
   Created by Urriel.

link(href='assets/bootstrap/dist/css/bootstrap.min.css' rel="stylesheet" type="text/css")
link(href='assets/angular-toastr/dist/angular-toastr.min.css' rel="stylesheet" type="text/css")